<div th:fragment="students-list">
  <!--  datatables  -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
  <!--  datatables  -->
  <table  id="student-list" class="table-style">
    <thead>
    <tr class="first-row">
      <td>Name</td>
      <td>Class</td>
      <td>Program</td>
      <td>Faculty</td>
      <td>Birthday</td>
      <td>Avg. mark</td>
      <td>Attend. %</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each=" student : ${students}">
      <td ><a th:href="@{/student/{id} (id = ${student.studentId})}" th:text="${student.lastName} + ' ' + ${student.firstName}"></a></td>
      <td contenteditable='true' th:text="${student.studentClass.classCode}"></td>
      <td th:text="${student.studentClass.program}"></td>
      <td th:text="${student.studentClass.faculty}"></td>
      <td th:text="${student.birthday}"> </td>
      <td th:text="${student.avgMark}"></td>
      <td th:text="${student.attendancePercentage} + '%'"></td>
    </tr>
    </tbody>
    <hr>
  </table>
  <script th:inline="javascript">
    $(document).ready(function() {
      $('#student-list').DataTable();
    } );
    document.getElementById("student-list").addEventListener("input", inputEvt => {
      console.log("input event fired");
    }, false);
  </script>
</div>