<table th:fragment="students-list" id="student-list" class="table-style">
  <thead>
  <tr class="first-row">
    <td>Name</td>
    <td>Class</td>
    <td>Program</td>
    <td>Faculty</td>
    <td>Birthday</td>
    <td>Avg. mark</td>
    <td>Attend. %</td>
  </tr>
  </thead>
  <tbody>
  <tr th:each=" student : ${students}">
    <td ><a th:href="@{/student/{id} (id = ${student.studentId})}" th:text="${student.lastName} + ' ' + ${student.firstName}"></a></td>
    <td th:text="${student.studentClass.classCode}"></td>
    <td th:text="${student.studentClass.program}"></td>
    <td th:text="${student.studentClass.faculty}"></td>
    <td th:text="${student.birthday}"> </td>
    <td th:text="${student.avgMark}"></td>
    <td th:text="${student.attendancePercentage} + '%'"></td>
  </tr>
  </tbody>
  <tfoot>
  <tr class="first-row">
    <td>Name</td>
    <td>Class</td>
    <td>Program</td>
    <td>Faculty</td>
    <td>Birthday</td>
    <td>Avg. mark</td>
    <td>Attend. %</td>
  </tr>
  </tfoot>
</table>