<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Students list</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Prompt&display=swap" rel="stylesheet">
</head>

<body>
<th:block th:insert="fragments/header :: header"/>
<div class="wrapper">
  <h1>HTTP ERROR 500<br>
    INTERNAL SERVER ERROR
  </h1>
</div>
<th:block th:insert="fragments/footer :: footer"/>
</body>
</html>