html{
    font-family: Poppins, serif;
    color: #333333;
}
body{
    display:flex;
    flex-direction:column;
    margin:0;
    padding-bottom: 80px;
    background: #F3F3F3;
}

a {
    text-decoration: underline;
    color: #333333;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background: #333333;
    z-index: 1;
}

#header + .wrapper-center {
    margin-top: 60px;
}

.wrapper {
    margin-top: 60px;
    min-width: 1440px;
    margin-left: 10vw;
}

input[type=text], input[type=password], input[type=date], select {
    border: none;
    border-bottom: 2px #333333 solid;
    width: 200px;
    height: 27px;
    font-size: 18px;
    margin-bottom: 20px;
    background: #F3F3F3;
}

input[type='radio'] {
    width: 20px;
    height: 20px;
}

input[type='date'] {
    font-family: Poppins, serif;
    color: #333333;
}

label {
    font-size: 18px;
}

select {
    border: none;
    width: fit-content;
}

textarea:focus, input:focus, select:focus{
    outline: none;
}

span {
    font-size: 18px;
    line-height: 40px;
}

#image-button-submit {
    background: url("/images/logout.svg") no-repeat top left;
    height: 25px;
    width: 25px;
    border: none;
}

#header-right {
    float: right;
    margin-right: 10vw;
    margin-top: 21px;
}

h1 {
    font-family: Prompt, serif;
    color: #333333;
    font-size: 48px;
}

h2 {
    font-size: 24px;
}

.table-card {
    border: #333333 solid 3px;
    font-size: 18px;
    color: #333333;
    border-spacing: 0;
    min-width: 250px;
    min-height: 250px;
    border-collapse: collapse;
    margin-right: 20px;
    margin-top: 30px;
}

.table-card thead tr, .subject-card thead tr {
    background: #333333;
    color: #FFFFFF;
    font-size: 24px;
    height: 50px;
    text-align: center;
}

.table-card tbody td {
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    height: 20px;
}

.table-card td:empty {
    border-left: 0;
    border-right: 0;
}

.table-card a {
    color: #333333;
}

.subject-card {
    font-size: 18px;
    color: #333333;
    border-spacing: 0;
    border-collapse: collapse;
}

.subject-card tbody td {
    border-bottom: #333333 solid 2px;
    line-height: 40px;
}

.button-style {
    width: 200px;
    height: 40px;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    line-height: 27px;
    color: #FFFFFF;
    background: #333333;
    border-radius: 20px;
    border: none;
}

.link-button {
    display: inline-block;
    width: 200px;
    height: 40px;
    text-decoration: none;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 40px;
    background: #333333;
    color: #FFFFFF;
    border-radius: 20px;
    text-align: center;
}

.link-button-inverted {
    display: inline-block;
    width: 200px;
    height: 40px;
    text-decoration: none;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 40px;
    background: #FFFFFF;
    color: #333333;
    border-radius: 20px;
    text-align: center;
}

footer {
    background: #333333;
    text-align: center;
    height: 76px;
    padding: 7px;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    bottom: 0;
}

#footer-text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}

#datalist_length select{
    border: none;
    font-family: Poppins, serif;
    height: fit-content;
}

#datalist_filter input {
    border: none;
    border-bottom: 2px #333333 solid;
    font-size: 18px;
}

#datalist {
    text-align: center;
    border-bottom: #333333 solid 3px;
}

#datalist_wrapper {
    max-width: 80vw;
}

#datalist thead td {
    background: #333333;
    color: #FFFFFF;
    font-size: 18px;
    height: 40px;
    border: none;
}

#datalist tbody td{
    border-top: #333333 solid 3px;
    background: #F3F3F3;
}

.paginate_button {
    border: none !important;
    background: transparent !important;
    font-size: 24px;
    color: #333333 !important;
}

.dataTables_info {
    font-size: 18px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button:active {
    box-shadow: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button {
    text-decoration: underline !important;
}

#gradebook {
    background-color: #F3F3F3;
    font-size: 18px;
    border: none;
}

#gradebook .tabulator-header .tabulator-col {
    background: #333333;
    color:#fff;
}

#gradebook .tabulator-header {
    background-color:#333333;
    font-weight: 500;
    color:#fff;
    border: none;
}

#gradebook .tabulator-tableHolder .tabulator-table .tabulator-row{
    color:#333333;
    background-color: #F3F3F3;
}

#gradebook .tabulator-col, #gradebook .tabulator-row .tabulator-cell {
    border: none;
    border-bottom: #333333 solid 2px;
}
