<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Edit student class</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Prompt&display=swap" rel="stylesheet">
</head>

<body>
<th:block th:insert="fragments/header :: header"/>
<div class="wrapper">
    <h1>Edit class</h1>
    <form action="#" th:action="@{/admin/class/{id}/edit (id = ${studentClass.classId})}" th:object="${studentClass}" method="post">
        <input required type="text" th:field="*{classCode}" placeholder="Class code"/>
        <input required type="text" th:field="*{program}" class="input-style" placeholder="Program" style="margin-left: 30px;">
        <input required type="text" th:field="*{faculty}" class="input-style" placeholder="Faculty" style="margin-left: 30px">
        <input class="button-style" type="submit" value="Save" style="margin-left: 30px" >
    </form>
</div>

<th:block th:insert="fragments/footer :: footer"/>
</body>
</html>