<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title th:text="${classCode}"></title>

    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Prompt&display=swap" rel="stylesheet">

    <!--  datatables  -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>

</head>

<body>
<th:block th:insert="fragments/header :: header"/>
<div class="wrapper">
    <h1 style="float: left" th:text="${classCode} + ' students'"></h1>
    <th:block sec:authorize="hasRole('ADMIN')" >
        <a class="link-button" style="margin-top: 50px; float: right; margin-right: 10vw" href="/student/add">Add student</a>
        <a th:href="@{/admin/class/{id}/edit (id=${classId})}" class="link-button" style="margin-top: 50px; float: right; margin-right: 20px">Edit class</a>
        <a th:onclick="'javascript:deleteEntity(\'' + ${classId} + '\',\''+ 'class' + '\');'"
           class="link-button" style="margin-top: 50px; float: right; margin-right: 20px">Delete class</a>
    </th:block>
    <table id="datalist">
        <thead>
        <tr>
            <td>Name</td>
            <td>Class</td>
            <td>Program</td>
            <td>Faculty</td>
            <td>Birthday</td>
            <td>Avg. mark</td>
            <td>Attend. %</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each=" student : ${students}">
            <td ><a th:href="@{/student/{id} (id = ${student.studentId})}" th:text="${student.name}"></a></td>
            <td contenteditable='true' th:text="${student.studentClass.classCode}"></td>
            <td th:text="${student.studentClass.program}"></td>
            <td th:text="${student.studentClass.faculty}"></td>
            <td th:text="${student.birthday}"> </td>
            <td th:text="${student.avgMark}"></td>
            <td th:text="${student.attendancePercentage} + '%'"></td>
        </tr>
        </tbody>
    </table>
</div>
<th:block th:insert="fragments/footer :: footer"/>
<script th:inline="javascript" th:src="@{/js/script.js}"></script>
</body>
</html>