<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Students list</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <!--  bootstrap  -->
  <link rel="stylesheet" href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css">
  <script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
<div id="wrapper">
  <div id="sidebar-wrapper">
    <div th:insert="fragments/sidebar :: sidebar"></div>
  </div>
  <div id="page-content-wrapper">
    <div id="page-content">
      <div class="row">
        <div class="col-md-12 main-content main-center">
          <h1>ERROR<br>
              Something went wrong...
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>