<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Welcome, [[${#httpServletRequest.remoteUser}]]!</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Prompt&display=swap" rel="stylesheet">
</head>

<body>
<th:block th:insert="fragments/header :: header"/>
<div class="wrapper">
    <h1>Your classes list</h1>
    <th:block th:each="studClass : ${studentClasses}">
        <div style="float: left">
            <table class="table-card">
                <thead>
                <tr>
                    <td>
                        <a th:text="${studClass.classCode}" th:href="@{/class/{id} (id = ${studClass.classId})}" style="color: #FFFFFF"></a>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="mapEntry : ${studClass.subjects}">
                    <td>
                        <a th:text="${mapEntry.value}" th:href="@{/gradebook/{class}/{subject} (class = ${studClass.classId}, subject = ${mapEntry.key})}"></a>
                    </td>
                </tr>
                <tr style="height: 100%"><td></td></tr>
                </tbody>
            </table>
        </div>
    </th:block>
</div>
<th:block th:insert="fragments/footer :: footer"/>
</body>
</html>