<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Welcome to EGB</title>
    <meta charset="UTF-8"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<div id="wrapper">
    <div id="page-content-wrapper">
        <div id="page-content">
            <div class="row">
                <div class="col-md-12 main-content main-center">
                    <p>Welcome to Electronic Grade Book. Please login to continue.</p>
                    <form th:action="@{/login}" method="post">
                        <label for="username">User name:
                            <input id="username" type="text" name="username" placeholder="Username">
                        </label>
                        <br>
                        <label for="password">Password:
                            <input id="password" type="password" name="password" placeholder="Password">
                        </label>
                        <br>
                        <input id="login" type="submit" value="Log in"/>
                    </form>
                    <br>
                    <br>
                    <a class="gh-btn" href="https://github.com/blender17/egb" rel="noopener noreferrer" target="_blank" aria-label="Source code">
                        <span class="gh-ico" aria-hidden="true"></span>
                        <span class="gh-text">Source code</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>