<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Students list</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
<div id="wrapper">
    <div id="sidebar-wrapper">
        <div th:insert="fragments/sidebar :: sidebar"></div>
    </div>
    <div id="page-content-wrapper">
        <div id="page-content">
            <div class="row">
                <div class="col-md-12 main-content main-center">
                    <a class="button-style" style="position: absolute; top: 5px; right: 5px" href="/student/add">Add student</a>
                    <h1>Students list</h1>
                    <div th:insert="fragments/students-list-fragment"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>