<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Edit subject</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Prompt&display=swap" rel="stylesheet">
</head>

<body>
<th:block th:insert="fragments/header :: header"/>
<div class="wrapper">
  <h1>Edit subject</h1>
  <form action="#" th:action="@{/admin/subject/{id}/edit (id = ${subject.subjectId})}" th:object="${subject}" method="post">
    <input required type="text" th:field="*{name}" placeholder="Name"/>
    <input class="button-style" type="submit" value="Save" style="margin-left: 30px">
  </form>
</div>

<th:block th:insert="fragments/footer :: footer"/>
</body>
</html>