<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Subjects list</title>

    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Prompt&display=swap" rel="stylesheet">

    <!--  datatables  -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
</head>

<body>
<th:block th:insert="fragments/header :: header"/>
<div class="wrapper">
    <a class="link-button" style="margin-top: 50px; float: right; margin-right: 10vw" href="/admin/subject/add">Add subject</a>
    <h1>Subjects list</h1>
    <table id="datalist">
        <thead>
        <tr>
            <td>Name</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each=" subject : ${subjects}">
            <td th:text="${subject.name}"></td>
            <td width="100px">
                <a th:href="@{/admin/subject/{id}/edit (id = ${subject.subjectId})}">edit</a>
                <a href="" th:onclick="'javascript:deleteEntity(\'' + ${subject.subjectId} + '\',\''+ 'subject' + '\');'">delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<th:block th:insert="fragments/footer :: footer"/>
<script th:inline="javascript" th:src="@{/js/script.js}"></script>
</body>
</html>