<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Bind teacher to class</title>

    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<div id="wrapper">
    <div id="sidebar-wrapper">
        <div th:insert="fragments/sidebar :: sidebar"></div>
    </div>
    <div id="page-content-wrapper">
        <div id="page-content">
                <div class="row">
                    <div class="col-md-12 main-content main-center">
                        <h1>Add new class</h1>
                        <form action="#" th:action="@{/admin/teacher/bind}" th:object="${classSubject}" method="post" style="text-align: right; width: 60%">
                            <label for="class">Class:</label>
                            <select id="class" required th:name="studentClassId">
                                <option th:each="class : ${studentClasses}"
                                        th:value="${class.classId}"
                                        th:text="${class.classCode}">
                                </option>
                            </select>
                            <br>
                            <label for="teacher">Teacher:</label>
                            <select id="teacher" required th:name="teacherId">
                                <option th:each="teacher : ${teachers}"
                                        th:value="${teacher.userId}"
                                        th:text="${teacher.name}">
                                </option>
                            </select>
                            <br>
                            <label for="subject">Subject:</label>
                            <select id="subject" required th:name="subjectId">
                                <option th:each="subject : ${subjects}"
                                        th:value="${subject.subjectId}"
                                        th:text="${subject.name}">
                                </option>
                            </select>
                            <br>
                            <input type="submit" value="Bind teacher" style="text-align: center">

                        </form>
                    </div>
            </div>
        </div>
    </div>
</div>
<script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>