<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8" />
  <title th:text="${user.name}"></title>

  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Prompt&display=swap" rel="stylesheet">
</head>

<body>
<th:block th:insert="fragments/header :: header"/>
<div class="wrapper">
  <h1 th:if="${user.name != null}" th:text="${user.name}"></h1>
  <div style="float: left;">
    <span style="font-weight: 500">Username:</span>
    <span th:text="${user.username}"></span>
    <br>
    <span style="font-weight: 500">Position: </span>
    <span th:if="${user.position != null}" th:text="${user.position}"></span>
  </div>

  <div style="float: left; margin-left: 25px;">
    <span style="font-weight: 500;">Email:</span>
    <span th:if="${user.email != null}" th:text="${user.email}"></span>
    <br>
    <span style="font-weight: 500;">Academic degree:</span>
    <span th:if="${user.academicDegree != null}" th:text="${user.academicDegree}"></span>
  </div>

  <div style="float: left; margin-left: 25px;">
    <span style="font-weight: 500;">Phone:</span>
    <span th:if="${user.phoneNumber != null}" th:text="${user.phoneNumber}"></span>
    <br>
    <span style="font-weight: 500;">Gender:</span>
    <span th:if="${user.gender != null}" th:text="${user.gender}"></span>
  </div>

  <div style="clear: both">
    <span style="font-weight: 500;">Birthday:</span>
    <span th:if="${user.birthday != null}" th:text="${user.birthday} + ' (' + ${user.getAge()} + ' years)' "></span>
    <br>
    <span style="font-weight: 500;">Address:</span>
    <span th:if="${user.address != null}" th:text="${user.address}"></span>
  </div>

  <th:block th:if="${studentClasses != null}" th:each="studClass : ${studentClasses}">
      <table class="table-card" style="float: left">
        <thead>
        <tr>
          <td>
            <a th:text="${studClass.classCode}" th:href="@{/class/{id} (id = ${studClass.classId})}" style="color: #FFFFFF"></a>
          </td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="mapEntry : ${studClass.subjects}">
          <td>
            <a th:text="${mapEntry.value}" th:href="@{/gradebook/{class}/{subject} (class = ${studClass.classId}, subject = ${mapEntry.key})}"></a>
          </td>
        </tr>
        <tr style="height: 100%"><td></td></tr>
        </tbody>
      </table>
  </th:block>
</div>
<th:block th:insert="fragments/footer :: footer"/>
</body>
</html>