<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title th:text="${title}"></title>

    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

    <link rel="stylesheet" th:href="@{/css/style.css}">

    <!--  bootstrap  -->
    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css">
    <script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js"></script>

    <!--  datatables  -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
</head>

<body>
<div id="wrapper">
    <div id="sidebar-wrapper">
        <div th:insert="fragments/sidebar :: sidebar"></div>
    </div>
    <div id="page-content-wrapper">
        <div id="page-content">
            <div class="row">
                <div class="col-md-12 main-content main-center">
                    <a class="button-style" style="position: absolute; top: 5px; right: 5px" href="/admin/user/add">Add user</a>
                    <h1 th:text="${title}"></h1>
                    <table id="datalist" class="table-style">
                        <thead>
                        <tr class="first-row">
                            <td>Username</td>
                            <td>Name</td>
                            <td>Academic degree</td>
                            <td>Email</td>
                            <td>Birthday</td>
                            <td>Gender</td>
                            <td>Roles</td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each=" user : ${users}">
                            <td><a th:href="@{/user/{id} (id = ${user.userId})}" th:text="${user.username}"></a></td>
                            <td th:text="${user.name}"></td>
                            <td th:text="${user.academicDegree}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.birthday}"></td>
                            <td th:text="${user.gender}"></td>
                            <td th:text="${user.roles}"></td>
                            <td>
                                <a th:href="@{/admin/user/{id}/edit (id = ${user.userId})}">edit</a>
                                <a href="" th:onclick="'javascript:deleteEntity(\'' + ${user.userId} + '\',\''+ 'user' + '\');'">delete</a>
                            </td>
                        </tr>
                        </tbody>
                        <hr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript" th:src="@{/js/script.js}"></script>
</body>
</html>