<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Add new user</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Prompt&display=swap" rel="stylesheet">
</head>

<body>
<th:block th:insert="fragments/header :: header"/>
<div class="wrapper">
    <h1>Add new user</h1>
    <form action="#" th:action="@{/admin/user/add}" th:object="${user}" method="post">
        <div style="float: left; text-align: left">
            <input id="firstName" type="text" th:field="*{firstName}" placeholder="First name"/>
            <br>
            <input id="phoneNumber" th:field="*{phoneNumber}" type="text" placeholder="Phone number">
            <br>

            <input id="position" th:field="*{position}" type="text" placeholder="Position">
            <br>
            <label for="role">Role:</label>
            <select id="role" required th:name="role">
                <option th:value="'TEACHER'" th:text="TEACHER"></option>
                <!--                    <option th:value="'STUDENT'" th:text="STUDENT"></option>-->
                <option th:value="'ADMIN'" th:text="ADMIN"></option>
                <!--                    <option th:value="'USER'" th:text="USER"></option>-->
            </select>
        </div>

        <div style="float: left; text-align: left; margin-left: 30px">
            <input id="middleName" type="text" th:field="*{middleName}" placeholder="Middle name"/>
            <br>
            <input id="address" th:field="*{address}" type="text" placeholder="Address">
            <br>
            <input id="academicDegree" th:field="*{academicDegree}" type="text" placeholder="Academic degree">
        </div>

        <div style="float: left; text-align: left; margin-left: 30px">
            <input id="lastName" type="text" th:field="*{lastName}" placeholder="Last name"/>
            <br>
            <input id="email" th:field="*{email}" type="text" placeholder="Email">
            <br>
        </div>

        <div style="float: left; text-align: left; margin-left: 30px">
            <input type="radio" name="gender" value="Male" th:value="'Male'" id="genderMale">
            <label for="genderMale">Male</label>
            <input type="radio" name="gender" value="Female" th:value="'Female'" id="genderFemale">
            <label for="genderFemale">Female</label>
            <br>
            <br>
            <label for="birthday"> Birthday:</label>
            <input id="birthday" th:field="*{birthday}" type="date">
            <br>
        </div>

        <div style="clear: left; ">
            <input id="username" required th:field="*{username}" type="text" placeholder="Username">
            <input id="password" required th:field="*{password}" type="password" placeholder="Password" style="margin-left: 30px">
            <input id="passwordConfirm" required th:field="*{passwordConfirm}" type="password" placeholder="Confirm password" style="margin-left: 30px">

        </div>
        <br>
        <br>
        <div style="text-align: center; width: 100%">
        <input class="button-style" type="submit" value="Add user">
        </div>
    </form>
</div>
<th:block th:insert="fragments/footer :: footer"/>
</body>
</html>